@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

@media (max-width: 767px) { 

  #txtbg > h1 {
    font-size: 2em;
  }
  
  #openModal1 > div {
    width: 80%;
    font-size: 85%;
  }
  
  .page-link {
    font-size: 1em;
    padding: 5px 0 5px 3px;
  }

  body > main {
  padding: 0;
  margin: 0;
}

body > header > div.navbar.fixed-top.navbar-dark.bg-dark.shadow-sm > div > a > h1 { 
  font-size: 80%;
}

body > main > section img {
  background-repeat: repeat;
}

body > main > div > nav > ul > li {
  font-size:  50%;
  width: 25px;
}

body > main > div > div > nav > ul > li {
  font-size:  50%;
  width: 25px;
}

body > footer {
  text-align: center;
}

.strongpoo {
  font-size: .8rem;
}

} /* end media selectors */

.navbar h1 {
  color: #ffc107;
  font-family: "Arial Black", Gadget, sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron .container {
  max-width: 40rem;
}

.jumbotron-heading {
  font-weight: 300;
}
a{
  list-style-type: none;
  color:tomato;
}

a:hover {
  list-style-type: none;
  color:rgb(255, 221, 214);
}

li  a{
  list-style-type: none;
  color:tomato;
}

li  a:hover{
  list-style-type: none;
  color:#fff;
}

.card {
overflow: hidden;
border: 1px solid rgb(179, 179, 179);  
}

.card-body {
  border-top: 1px solid rgb(179, 179, 179);;
}

.card-text {
  font-family: 'Raleway', sans-serif;
  background-color: rgb(202, 121, 29);
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgb(155, 89, 10);
  padding: 10px;
  color: #ffe17e;
  /* text-shadow: 1px 1px 2px rgb(121, 66, 0, 0.8); */
}

#blur {
  filter: blur(2px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  }

#txtbg {
  text-shadow: 1px 1px 1px #000;
  background-color: rgba(117, 65, 16, 0.9);
  border-radius: 10px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.8);
  padding-bottom: 15px;
}

#txtbg .btn {
  color: floralwhite;
}

body > header > div.navbar.fixed-top.navbar-dark.bg-dark.shadow-sm > div > button {
  outline-color: #ffc107;
}

strong {
  color: gold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

strong.strongpoo {
  background-color: rgb(187, 113, 2);
  border: 1px solid rgb(95, 57, 0);
  padding: 5px 15px;
  border-radius: 5px;
}

.page-item.active .page-link {
  color: maroon;
  background-color: #ffc107;
  border-color: lightgray;
}

.page-link {
  color: maroon;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgb(121, 66, 0);
  box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.726);
}

footer p {
  margin-bottom: .25rem;
  color: rgba(255, 181, 112, 0.712);
}
footer a {
  color: #ffc107;
}
footer a:hover {
  color: #ffda6c;
  text-decoration: none;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
  text-align: center;
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 15px 20px 5px 20px;
  border-radius: 10px;
  background: #fff;
}

.closebtn {
  background: #fff;
  padding-top: 2px;
  position: absolute;
  right: 4px;
  top: 4px;
  height: 30px;
  width: 30px;
  text-decoration: none;
}

.overlay {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color:rgb(70, 32, 2);
  opacity:0.9;
  z-index:1001;
}
.overlay-message{
  border: 1px soli rgb(51, 51, 51);
  border-radius: 5px;
  position: fixed;
  top: 30%;
  left: 50%;
  margin-left: -37.5%;
  padding: 25px;
  width: 75%;
  height: auto;
  background-color:#fff;
  opacity:1;
  z-index:1002;
}